

.title{
    color: #435061;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-title{
    font-size: 14px;
    color: #435061;
    text-transform: uppercase;
}


.card-title{
    font-size:  16px !important;
    color: #435061;
    font-weight: bold;
    text-transform: uppercase;
}




.materialboxed{
    object-fit: cover;
    object-position: center center;
}

p{
    color: #637285;
}


#services{
    background-color: #E8ECF2;
    margin-top: 8%;
    padding-bottom: 5%;
}

#slider{
    position: relative;

}

.card-btn{
    position: absolute;
    /* top: 40%; */
    bottom: -30%;
    left: 35%;
    z-index: 2; 
    opacity: 0;
    /* top: 180px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* right: 0; */

    
}

.card:hover .card-btn{
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 35%;
    z-index: 2; 
    opacity: 1;
    transition: all 500 ease-in;

}

.card:hover .slider img{
    opacity: 0.7;
}



