@import './navbar.css';
@import './home.css';
body{
    font-family: 'Montserrat', sans-serif;
/* font-family: 'Karla', sans-serif; */


}

.card-image{
    object-fit: cover!important;
    object-position: center center;
}

#events{
    padding-top: 7%;
    padding-bottom: 7%;
}
#team{
    padding-top: 7%;
    padding-bottom: 7%;
}

#gallery{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #E8ECF2;
}


#testimonial{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #435061;
}

.test-card{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 64% 75%, 53% 95%, 45% 75%, 0% 75%);
    padding-bottom: 25%;
}

.test-title{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.test-sub-title{
    color: #91A1B4;
    text-transform: uppercase;
}




.pt-5{
    padding-top: 5%;
}
.pt-3{
    padding-top: 3%;
}
.primary-color{
    color: #435061;
}



.card-wrapper{
    position: relative;
}

.test-btn{
    position: absolute;
    top: 90%;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    bottom: -30%;
    
}

.card:hover .test-btn{
    top: 50%;
    opacity: 1;
    transition: all 1s ease;
}

.card:hover .card-wrapper img{
    opacity: 0.7;
}


.event-info{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: white!important;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-around;
    padding: 16px 8px;
    align-items: center;
    background-color: #91A1B4;
}

.card:hover .event-info{
    background-color: #29AF8A;
}

.material-icons{
    font-size: 2em;
    color: #29AF8A;
}

.fs-3{
    font-size: 3em;
}