@import './navbar.css';
@import './home.css';
body{
    font-family: 'Montserrat', sans-serif;
/* font-family: 'Karla', sans-serif; */


}

.pt-5{
    padding-top: 5%;
}
.pt-3{
    padding-top: 3%;
}
.primary-color{
    color: #435061;
}
