@import './navbar.css';
@import './home.css';
body{
    font-family: 'Montserrat', sans-serif;
/* font-family: 'Karla', sans-serif; */

}

p{
    font-family: 'Karla', sans-serif;
    color: #637285;
    font-weight: lighter;
}

.nav-link{
    color: #7F8B99;
}

.primary-color{
    color: #29AF8A;
}

.light{
    color:#91a1b4
}

.title-color{
    color: #435061;
}


.title{
    text-transform: uppercase;
}

.text-active{
    color: #435061;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.text-light{
    font-weight: bolder;
}

.label-secondary{
    background-color: #91a1b4;
    padding: 8px 16px;
    text-transform: uppercase;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.sub-title{
    color: #435061;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
}

/*  button section */

.btn-primary{
    background-color: #29AF8A;
    text-transform: uppercase;
    color: white;
    border: none;
    /* border: 2px solid #29AF8A; */
}

.btn-secondary{
    background-color: #435061;
    text-transform: uppercase;
}

.btn-outline{
    border-color: #29AF8A;
    background-color: white;
    color: #29AF8A;
    padding: 8px 16px;
    border: none;
    border: 1px solid #29AF8A;
}


.btn-secondary-outline{
    border-color: #435061;
    background-color: white;
    color: #435061;
    padding: 8px 16px;
    border: none;
    border: 1px solid #435061;
    text-transform: uppercase;
}

.mt-lg{
    margin-top: 55px;
}

.mt-42{
    margin-top: 42px;
}